CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_BATMAN_ADV_BATMAN_V=y
CONFIG_BATMAN_ADV_BLA=y
CONFIG_BATMAN_ADV_DAT=y
CONFIG_BATMAN_ADV_MCAST=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_KSMBD_SMB_INSECURE_SERVER=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_LXC_SECCOMP=y
CONFIG_NODEJS_ICU_SMALL=y
CONFIG_OCSERV_HTTP_PARSER=y
CONFIG_OCSERV_PROTOBUF=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_acme=m
CONFIG_PACKAGE_adblock=m
CONFIG_PACKAGE_ahcpd=m
CONFIG_PACKAGE_alist=m
CONFIG_PACKAGE_aliyundrive-webdav=m
CONFIG_PACKAGE_alsa-lib=m
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_attendedsysupgrade-common=m
CONFIG_PACKAGE_attr=m
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_babeld=m
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_batctl-default=m
CONFIG_PACKAGE_bcp38=m
CONFIG_PACKAGE_bird1-ipv4=m
CONFIG_PACKAGE_bird1-ipv4-uci=m
CONFIG_PACKAGE_bird1-ipv6=m
CONFIG_PACKAGE_bird1-ipv6-uci=m
CONFIG_PACKAGE_blkid=m
CONFIG_PACKAGE_block-mount=m
CONFIG_PACKAGE_bmx6=m
CONFIG_PACKAGE_bmx7=m
CONFIG_PACKAGE_bmx7-json=m
CONFIG_PACKAGE_boost=m
CONFIG_PACKAGE_boost-date_time=m
CONFIG_PACKAGE_boost-program_options=m
CONFIG_PACKAGE_boost-system=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_certtool=m
CONFIG_PACKAGE_cgi-io=m
CONFIG_PACKAGE_check=m
CONFIG_PACKAGE_chinadns-ng=m
CONFIG_PACKAGE_cjdns=m
CONFIG_PACKAGE_clamav=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=m
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_coreutils-sort=m
CONFIG_PACKAGE_coreutils-stat=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_cshark=m
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dawn=m
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_dcwapd=m
CONFIG_PACKAGE_ddns-scripts=m
CONFIG_PACKAGE_ddns-scripts-services=m
CONFIG_PACKAGE_ddnsto=m
CONFIG_PACKAGE_dkjson=m
CONFIG_PACKAGE_dns2socks=m
CONFIG_PACKAGE_dns2tcp=m
CONFIG_PACKAGE_dnscrypt-proxy=m
CONFIG_PACKAGE_dnscrypt-proxy-resolvers=m
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_dosfstools=m
CONFIG_PACKAGE_dump1090=m
CONFIG_PACKAGE_dynapoint=m
CONFIG_PACKAGE_eoip=m
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_filebrowser=m
CONFIG_PACKAGE_flock=m
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_frps=m
CONFIG_PACKAGE_fwknopd=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_gost=m
CONFIG_PACKAGE_haproxy=m
CONFIG_PACKAGE_hd-idle=m
CONFIG_PACKAGE_https-dns-proxy=m
CONFIG_PACKAGE_hysteria=m
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=m
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ipt2socks=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iptables-mod-iprange=m
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-mod-socket=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_iptables-zz-legacy=m
CONFIG_PACKAGE_iputils-arping=m
CONFIG_PACKAGE_jq=m
CONFIG_PACKAGE_kmod-asn1-decoder=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-crypto-aead=m
CONFIG_PACKAGE_kmod-crypto-ccm=m
CONFIG_PACKAGE_kmod-crypto-cmac=m
CONFIG_PACKAGE_kmod-crypto-ctr=m
CONFIG_PACKAGE_kmod-crypto-des=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-gcm=m
CONFIG_PACKAGE_kmod-crypto-gf128=m
CONFIG_PACKAGE_kmod-crypto-ghash=m
CONFIG_PACKAGE_kmod-crypto-hmac=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=m
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=m
CONFIG_PACKAGE_kmod-crypto-manager=m
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-null=m
CONFIG_PACKAGE_kmod-crypto-rng=m
CONFIG_PACKAGE_kmod-crypto-seqiv=m
CONFIG_PACKAGE_kmod-crypto-sha256=m
CONFIG_PACKAGE_kmod-crypto-sha512=m
CONFIG_PACKAGE_kmod-fs-ksmbd=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ip6-tunnel=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_kmod-ipt-conntrack=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-iprange=m
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-raw=m
CONFIG_PACKAGE_kmod-ipt-socket=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-macremapper=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-ipt6=m
CONFIG_PACKAGE_kmod-nf-socket=m
CONFIG_PACKAGE_kmod-nft-bridge=m
CONFIG_PACKAGE_kmod-nft-compat=m
CONFIG_PACKAGE_kmod-nft-netdev=m
CONFIG_PACKAGE_kmod-nft-socket=m
CONFIG_PACKAGE_kmod-oid-registry=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-siit=m
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=m
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_koolproxy=y
CONFIG_PACKAGE_ksmbd-server=m
CONFIG_PACKAGE_libao=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-compat-libdnssd=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libcap-ng=m
CONFIG_PACKAGE_libcares=m
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdb47=y
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libdcwproto=m
CONFIG_PACKAGE_libdcwsocket=m
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libev=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libexif=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libfdisk=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libffmpeg-audio-dec=m
CONFIG_PACKAGE_libfko=m
CONFIG_PACKAGE_libflac=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgd=m
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libhttp-parser=m
CONFIG_PACKAGE_libid3tag=m
CONFIG_PACKAGE_libip4tc=m
CONFIG_PACKAGE_libip6tc=m
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libiptext=m
CONFIG_PACKAGE_libiptext-nft=m
CONFIG_PACKAGE_libiptext6=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libjpeg-turbo=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblua5.3=m
CONFIG_PACKAGE_liblucihttp=m
CONFIG_PACKAGE_liblucihttp-lua=m
CONFIG_PACKAGE_liblxc=m
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmaxminddb=m
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libmilter-sendmail=m
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnetsnmp=m
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libnl-core=m
CONFIG_PACKAGE_libnl-genl=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libpagekite=m
CONFIG_PACKAGE_libparted=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpci=m
CONFIG_PACKAGE_libpcre=m
CONFIG_PACKAGE_libpcre2=m
CONFIG_PACKAGE_libpng=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_libpython3=m
CONFIG_PACKAGE_libqrencode=m
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librtlsdr=m
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libseccomp=m
CONFIG_PACKAGE_libsodium=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libtasn1=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libubox-lua=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libudns=m
CONFIG_PACKAGE_libunbound=m
CONFIG_PACKAGE_libunbound_ipset=y
CONFIG_PACKAGE_libunbound_libevent=y
CONFIG_PACKAGE_libunbound_libpthread=y
CONFIG_PACKAGE_liburing=m
CONFIG_PACKAGE_libusb-1.0=m
CONFIG_PACKAGE_libustream-mbedtls=m
CONFIG_PACKAGE_libustream-openssl=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libwebp=m
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_libxtables=y
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_losetup=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_lua-bencode=m
CONFIG_PACKAGE_lua-cjson=m
CONFIG_PACKAGE_lua-maxminddb=m
CONFIG_PACKAGE_lua-neturl=m
CONFIG_PACKAGE_lua-sha2=m
CONFIG_PACKAGE_luafilesystem=m
CONFIG_PACKAGE_luasocket=m
CONFIG_PACKAGE_luci=m
CONFIG_PACKAGE_luci-app-acl=m
CONFIG_PACKAGE_luci-app-acme=m
CONFIG_PACKAGE_luci-app-adblock=m
CONFIG_PACKAGE_luci-app-adguardhome=m
CONFIG_PACKAGE_luci-app-advanced=m
CONFIG_PACKAGE_luci-app-advanced-reboot=m
CONFIG_PACKAGE_luci-app-ahcp=m
CONFIG_PACKAGE_luci-app-aliddns=m
CONFIG_PACKAGE_luci-app-alist=m
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=m
CONFIG_PACKAGE_luci-app-amlogic=m
CONFIG_PACKAGE_luci-app-argon-config=m
CONFIG_PACKAGE_luci-app-argonne-config=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-attendedsysupgrade=m
CONFIG_PACKAGE_luci-app-babeld=m
CONFIG_PACKAGE_luci-app-bcp38=m
CONFIG_PACKAGE_luci-app-bird1-ipv4=m
CONFIG_PACKAGE_luci-app-bird1-ipv6=m
CONFIG_PACKAGE_luci-app-bmx6=m
CONFIG_PACKAGE_luci-app-bmx7=m
CONFIG_PACKAGE_luci-app-bypass=m
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Trojan is not set
CONFIG_PACKAGE_luci-app-bypass_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-cjdns=m
CONFIG_PACKAGE_luci-app-clamav=m
CONFIG_PACKAGE_luci-app-clash=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-cshark=m
CONFIG_PACKAGE_luci-app-dawn=m
CONFIG_PACKAGE_luci-app-dcwapd=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-ddnsto=m
CONFIG_PACKAGE_luci-app-diag-core=m
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=m
CONFIG_PACKAGE_luci-app-dnsfilter=m
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-dump1090=m
CONFIG_PACKAGE_luci-app-dynapoint=m
CONFIG_PACKAGE_luci-app-easymesh=m
CONFIG_PACKAGE_luci-app-eoip=m
CONFIG_PACKAGE_luci-app-eqos=m
CONFIG_PACKAGE_luci-app-example=m
CONFIG_PACKAGE_luci-app-fileassistant=m
CONFIG_PACKAGE_luci-app-filebrowser=m
CONFIG_PACKAGE_luci-app-firewall=m
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-fwknopd=m
CONFIG_PACKAGE_luci-app-gost=m
CONFIG_PACKAGE_luci-app-hd-idle=m
CONFIG_PACKAGE_luci-app-hnet=m
CONFIG_PACKAGE_luci-app-https-dns-proxy=m
CONFIG_PACKAGE_luci-app-ikoolproxy=y
CONFIG_PACKAGE_luci-app-koolproxyR=y
CONFIG_PACKAGE_luci-app-ksmbd=m
CONFIG_PACKAGE_luci-app-ledtrig-rssi=m
CONFIG_PACKAGE_luci-app-ledtrig-switch=m
CONFIG_PACKAGE_luci-app-ledtrig-usbport=m
CONFIG_PACKAGE_luci-app-lucky=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
CONFIG_PACKAGE_luci-app-mosdns=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-nextdns=m
CONFIG_PACKAGE_luci-app-nft-qos=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-ntpc=m
CONFIG_PACKAGE_luci-app-nut=m
CONFIG_PACKAGE_luci-app-ocserv=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-olsr-viz=m
CONFIG_PACKAGE_luci-app-omcproxy=m
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-openwisp=m
CONFIG_PACKAGE_luci-app-opkg=m
CONFIG_PACKAGE_luci-app-p910nd=m
CONFIG_PACKAGE_luci-app-pagekitec=m
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_luci-app-passwall2=m
CONFIG_PACKAGE_luci-app-passwall2_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-pbr=m
CONFIG_PACKAGE_luci-app-polipo=m
CONFIG_PACKAGE_luci-app-privoxy=m
CONFIG_PACKAGE_luci-app-pushbot=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-radicale=m
CONFIG_PACKAGE_luci-app-radicale2=m
CONFIG_PACKAGE_luci-app-rp-pppoe-server=m
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-ser2net=m
CONFIG_PACKAGE_luci-app-serverchan=m
CONFIG_PACKAGE_luci-app-shadowsocks-libev=m
CONFIG_PACKAGE_luci-app-shairplay=m
CONFIG_PACKAGE_luci-app-siitwizard=m
CONFIG_PACKAGE_luci-app-simple-adblock=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-snmpd=m
CONFIG_PACKAGE_luci-app-softether=m
CONFIG_PACKAGE_luci-app-splash=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-squid=m
CONFIG_PACKAGE_luci-app-ssr-plus=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-store=m
CONFIG_PACKAGE_luci-app-tinyproxy=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-travelmate=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-udpxy=m
CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-unblockneteasemusic=m
CONFIG_PACKAGE_luci-app-unbound=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-vnstat=m
CONFIG_PACKAGE_luci-app-vnstat2=m
CONFIG_PACKAGE_luci-app-vssr=m
CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-xinetd=m
CONFIG_PACKAGE_luci-app-yggdrasil=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-compat=m
CONFIG_PACKAGE_luci-i18n-acl-en=m
CONFIG_PACKAGE_luci-i18n-acl-zh-cn=m
CONFIG_PACKAGE_luci-i18n-acme-en=m
CONFIG_PACKAGE_luci-i18n-acme-zh-cn=m
CONFIG_PACKAGE_luci-i18n-adblock-en=m
CONFIG_PACKAGE_luci-i18n-adblock-zh-cn=m
CONFIG_PACKAGE_luci-i18n-advanced-reboot-en=m
CONFIG_PACKAGE_luci-i18n-advanced-reboot-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ahcp-en=m
CONFIG_PACKAGE_luci-i18n-ahcp-zh-cn=m
CONFIG_PACKAGE_luci-i18n-alist-zh-cn=m
CONFIG_PACKAGE_luci-i18n-aliyundrive-webdav-zh-cn=m
CONFIG_PACKAGE_luci-i18n-amlogic-zh-cn=m
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=m
CONFIG_PACKAGE_luci-i18n-argonne-config-zh-cn=m
CONFIG_PACKAGE_luci-i18n-aria2-en=m
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-en=m
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=m
CONFIG_PACKAGE_luci-i18n-base-en=m
CONFIG_PACKAGE_luci-i18n-base-zh-cn=m
CONFIG_PACKAGE_luci-i18n-bcp38-en=m
CONFIG_PACKAGE_luci-i18n-bcp38-zh-cn=m
CONFIG_PACKAGE_luci-i18n-bmx7-en=m
CONFIG_PACKAGE_luci-i18n-bmx7-zh-cn=m
CONFIG_PACKAGE_luci-i18n-bypass-zh-cn=m
CONFIG_PACKAGE_luci-i18n-clamav-en=m
CONFIG_PACKAGE_luci-i18n-clamav-zh-cn=m
CONFIG_PACKAGE_luci-i18n-commands-en=m
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=m
CONFIG_PACKAGE_luci-i18n-cshark-en=m
CONFIG_PACKAGE_luci-i18n-cshark-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dcwapd-en=m
CONFIG_PACKAGE_luci-i18n-dcwapd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddns-en=m
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddnsto-zh-cn=m
CONFIG_PACKAGE_luci-i18n-diag-core-en=m
CONFIG_PACKAGE_luci-i18n-diag-core-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dnscrypt-proxy-en=m
CONFIG_PACKAGE_luci-i18n-dnscrypt-proxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dnsfilter-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dockerman-en=m
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dump1090-en=m
CONFIG_PACKAGE_luci-i18n-dump1090-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dynapoint-en=m
CONFIG_PACKAGE_luci-i18n-dynapoint-zh-cn=m
CONFIG_PACKAGE_luci-i18n-easymesh-zh-cn=m
CONFIG_PACKAGE_luci-i18n-eoip-en=m
CONFIG_PACKAGE_luci-i18n-eqos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-example-en=m
CONFIG_PACKAGE_luci-i18n-firewall-en=m
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=m
CONFIG_PACKAGE_luci-i18n-frpc-en=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-frps-en=m
CONFIG_PACKAGE_luci-i18n-frps-zh-cn=m
CONFIG_PACKAGE_luci-i18n-fwknopd-en=m
CONFIG_PACKAGE_luci-i18n-fwknopd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-gost-zh-cn=m
CONFIG_PACKAGE_luci-i18n-hd-idle-en=m
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=m
CONFIG_PACKAGE_luci-i18n-https-dns-proxy-en=m
CONFIG_PACKAGE_luci-i18n-https-dns-proxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ksmbd-en=m
CONFIG_PACKAGE_luci-i18n-ksmbd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=m
CONFIG_PACKAGE_luci-i18n-lxc-en=m
CONFIG_PACKAGE_luci-i18n-lxc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-minidlna-en=m
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-en=m
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mosdns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3-en=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nextdns-en=m
CONFIG_PACKAGE_luci-i18n-nextdns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nft-qos-en=m
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nlbwmon-en=m
CONFIG_PACKAGE_luci-i18n-nlbwmon-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ntpc-en=m
CONFIG_PACKAGE_luci-i18n-ntpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nut-en=m
CONFIG_PACKAGE_luci-i18n-nut-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ocserv-en=m
CONFIG_PACKAGE_luci-i18n-ocserv-zh-cn=m
CONFIG_PACKAGE_luci-i18n-olsr-en=m
CONFIG_PACKAGE_luci-i18n-olsr-services-en=m
CONFIG_PACKAGE_luci-i18n-olsr-services-zh-cn=m
CONFIG_PACKAGE_luci-i18n-olsr-viz-en=m
CONFIG_PACKAGE_luci-i18n-olsr-viz-zh-cn=m
CONFIG_PACKAGE_luci-i18n-olsr-zh-cn=m
CONFIG_PACKAGE_luci-i18n-omcproxy-en=m
CONFIG_PACKAGE_luci-i18n-omcproxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-en=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=m
CONFIG_PACKAGE_luci-i18n-opkg-en=m
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=m
CONFIG_PACKAGE_luci-i18n-p910nd-en=m
CONFIG_PACKAGE_luci-i18n-p910nd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-pagekitec-en=m
CONFIG_PACKAGE_luci-i18n-pagekitec-zh-cn=m
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=m
CONFIG_PACKAGE_luci-i18n-passwall2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-pbr-en=m
CONFIG_PACKAGE_luci-i18n-pbr-zh-cn=m
CONFIG_PACKAGE_luci-i18n-polipo-en=m
CONFIG_PACKAGE_luci-i18n-polipo-zh-cn=m
CONFIG_PACKAGE_luci-i18n-privoxy-en=m
CONFIG_PACKAGE_luci-i18n-privoxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qos-en=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-radicale-en=m
CONFIG_PACKAGE_luci-i18n-radicale-zh-cn=m
CONFIG_PACKAGE_luci-i18n-radicale2-en=m
CONFIG_PACKAGE_luci-i18n-radicale2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-rp-pppoe-server-en=m
CONFIG_PACKAGE_luci-i18n-rp-pppoe-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-samba4-en=m
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ser2net-en=m
CONFIG_PACKAGE_luci-i18n-ser2net-zh-cn=m
CONFIG_PACKAGE_luci-i18n-shadowsocks-libev-en=m
CONFIG_PACKAGE_luci-i18n-shadowsocks-libev-zh-cn=m
CONFIG_PACKAGE_luci-i18n-shairplay-en=m
CONFIG_PACKAGE_luci-i18n-shairplay-zh-cn=m
CONFIG_PACKAGE_luci-i18n-simple-adblock-en=m
CONFIG_PACKAGE_luci-i18n-simple-adblock-zh-cn=m
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-splash-en=m
CONFIG_PACKAGE_luci-i18n-splash-zh-cn=m
CONFIG_PACKAGE_luci-i18n-sqm-en=m
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=m
CONFIG_PACKAGE_luci-i18n-squid-en=m
CONFIG_PACKAGE_luci-i18n-squid-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-statistics-en=m
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=m
CONFIG_PACKAGE_luci-i18n-tinyproxy-en=m
CONFIG_PACKAGE_luci-i18n-tinyproxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-transmission-en=m
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=m
CONFIG_PACKAGE_luci-i18n-travelmate-en=m
CONFIG_PACKAGE_luci-i18n-travelmate-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-en=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-udpxy-en=m
CONFIG_PACKAGE_luci-i18n-udpxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-uhttpd-en=m
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-unbound-en=m
CONFIG_PACKAGE_luci-i18n-unbound-zh-cn=m
CONFIG_PACKAGE_luci-i18n-upnp-en=m
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vnstat-en=m
CONFIG_PACKAGE_luci-i18n-vnstat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vnstat2-en=m
CONFIG_PACKAGE_luci-i18n-vnstat2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vssr-zh-cn=m
CONFIG_PACKAGE_luci-i18n-watchcat-en=m
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wifischedule-en=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wireguard-en=m
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wol-en=m
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-xinetd-en=m
CONFIG_PACKAGE_luci-i18n-yggdrasil-en=m
CONFIG_PACKAGE_luci-i18n-yggdrasil-zh-cn=m
CONFIG_PACKAGE_luci-lib-base=m
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-lib-dracula=m
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-httpprotoutils=m
CONFIG_PACKAGE_luci-lib-ip=m
CONFIG_PACKAGE_luci-lib-ipkg=m
CONFIG_PACKAGE_luci-lib-iptparser=m
CONFIG_PACKAGE_luci-lib-jquery-1-4=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-jsonc=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-lib-taskd=m
CONFIG_PACKAGE_luci-lib-xterm=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-network=m
CONFIG_PACKAGE_luci-mod-status=m
CONFIG_PACKAGE_luci-mod-system=m
CONFIG_PACKAGE_luci-proto-ipv6=m
CONFIG_PACKAGE_luci-proto-ppp=m
CONFIG_PACKAGE_luci-proto-wireguard=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argonne=y
CONFIG_PACKAGE_luci-theme-atmaterial_new=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-ifit=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-mcat=y
CONFIG_PACKAGE_luci-theme-neobird=y
CONFIG_PACKAGE_luci-theme-opentopd=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y
CONFIG_PACKAGE_luci-theme-tomato=y
CONFIG_PACKAGE_lucky=m
CONFIG_PACKAGE_lxc=m
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-common=m
CONFIG_PACKAGE_lxc-configs=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-hooks=m
CONFIG_PACKAGE_lxc-templates=m
CONFIG_PACKAGE_microsocks=m
CONFIG_PACKAGE_minidlna=m
CONFIG_PACKAGE_miniupnpd-nftables=m
CONFIG_PACKAGE_mjpg-streamer=m
CONFIG_PACKAGE_mosdns-v5=m
CONFIG_PACKAGE_mount-utils=m
CONFIG_PACKAGE_mrmctl=m
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_natmap=m
CONFIG_PACKAGE_nextdns=m
CONFIG_PACKAGE_nft-qos=m
CONFIG_PACKAGE_nlbwmon=m
CONFIG_PACKAGE_node=m
CONFIG_PACKAGE_ntpclient=m
CONFIG_PACKAGE_ocserv=m
CONFIG_PACKAGE_olsrd=m
CONFIG_PACKAGE_olsrd-mod-jsoninfo=m
CONFIG_PACKAGE_olsrd-mod-nameservice=m
CONFIG_PACKAGE_olsrd-mod-txtinfo=m
CONFIG_PACKAGE_omcproxy=m
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_openwisp-config=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_pagekitec=m
CONFIG_PACKAGE_parted=m
CONFIG_PACKAGE_pbr=m
CONFIG_PACKAGE_pdnsd-alt=m
CONFIG_PACKAGE_perl=m
CONFIG_PACKAGE_polipo=m
CONFIG_PACKAGE_privoxy=m
CONFIG_PACKAGE_pv=m
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dateutil=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-passlib=m
CONFIG_PACKAGE_python3-pkg-resources=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-readline=m
CONFIG_PACKAGE_python3-setuptools=m
CONFIG_PACKAGE_python3-six=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-uuid=m
CONFIG_PACKAGE_python3-vobject=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_qrencode=m
CONFIG_PACKAGE_radicale2=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rp-pppoe-common=m
CONFIG_PACKAGE_rp-pppoe-server=m
CONFIG_PACKAGE_rpcd=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_rpcd-mod-luci=m
CONFIG_PACKAGE_rpcd-mod-lxc=m
CONFIG_PACKAGE_rpcd-mod-rad2-enc=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=m
CONFIG_PACKAGE_rpcd-mod-rrdns=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-dbm=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-forwardable=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_samba4-libs=m
CONFIG_PACKAGE_samba4-server=m
CONFIG_PACKAGE_script-utils=m
CONFIG_PACKAGE_ser2net=m
CONFIG_PACKAGE_shadowsocks-libev-config=m
CONFIG_PACKAGE_shadowsocks-libev-ss-local=m
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=m
CONFIG_PACKAGE_shadowsocks-libev-ss-server=m
CONFIG_PACKAGE_shadowsocks-rust-sslocal=m
CONFIG_PACKAGE_shadowsocks-rust-ssserver=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=m
CONFIG_PACKAGE_shairplay=m
CONFIG_PACKAGE_simple-adblock=m
CONFIG_PACKAGE_simple-obfs-client=m
CONFIG_PACKAGE_smartdns=m
CONFIG_PACKAGE_snmpd=m
CONFIG_PACKAGE_socat=m
CONFIG_PACKAGE_softethervpn5-client=m
CONFIG_PACKAGE_softethervpn5-libs=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_squid=m
CONFIG_PACKAGE_tar=m
CONFIG_PACKAGE_taskd=m
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_tcping=m
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tinyproxy=m
CONFIG_PACKAGE_transmission-daemon=m
CONFIG_PACKAGE_travelmate=m
CONFIG_PACKAGE_trojan=m
CONFIG_PACKAGE_trojan-plus=m
CONFIG_PACKAGE_ttyd=m
CONFIG_PACKAGE_udpxy=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_umdns=m
CONFIG_PACKAGE_unbound-daemon=m
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_uuidgen=m
CONFIG_PACKAGE_v2ray-core=m
CONFIG_PACKAGE_v2ray-geoip=m
CONFIG_PACKAGE_v2ray-geosite=m
CONFIG_PACKAGE_v2ray-plugin=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_vnstat2=m
CONFIG_PACKAGE_vnstati=m
CONFIG_PACKAGE_vnstati2=m
CONFIG_PACKAGE_watchcat=m
CONFIG_PACKAGE_wget-ssl=m
CONFIG_PACKAGE_wifischedule=m
CONFIG_PACKAGE_wireguard-tools=m
CONFIG_PACKAGE_wpad-mesh-openssl=m
CONFIG_PACKAGE_wsdd2=m
CONFIG_PACKAGE_xinetd=m
CONFIG_PACKAGE_xray-core=m
CONFIG_PACKAGE_xray-plugin=m
CONFIG_PACKAGE_xtables-legacy=m
CONFIG_PACKAGE_xtables-nft=m
CONFIG_PACKAGE_xz=m
CONFIG_PACKAGE_xz-utils=m
CONFIG_PACKAGE_yggdrasil=m
CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_zoneinfo-asia=m
CONFIG_PARTED_READLINE=y
CONFIG_PERL_NOCOMMENT=y
CONFIG_PERL_THREADS=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_RTREE=y
CONFIG_SQUID_enable-dlmalloc=y
CONFIG_SQUID_enable-ipv6=y
CONFIG_SQUID_enable-ssl-crtd=y
CONFIG_SQUID_use-openssl=y
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
